.navbar{
    margin-bottom: 0;
    margin-right: 0;
}
#header{
    margin: 0;
}
#logo{
      font-size: 25px;
  
}
#carousel .item img{
    display: block;
    width: 100%; 
    height: auto;
    
}
body{
	text-align: center;
}
#levels{
	text-align: left;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}
