.navbar{
    margin-bottom: 0;
    margin-right: 0;
}
#header{
    margin: 0;
}
#logo{
      font-size: 25px;
}
.container {
    width:85%;
  margin: 0px auto;
}
body{
	text-align: center;
    font-family: comic  sans ms; 
    padding: 0px;
    margin: 0px;
}
#levels{
	text-align: left;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}
button { 
    background-color: #869791;
    border: none;
    color: #FFF;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

a {
  color: #fff;
  text-decoration:none;
}
footer img{
  float: left;
}
hr{
  clear: both;
}